
<!DOCTYPE html>

<html>
<head>

    <title> Movie Recommendation System 🎥</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='hanken-logo.png') }}" alt="Hanken logo">
    <h1>Movie Recommendation System</h1>
    <h2>Course project for BI for Value Creation at Hanken School Of Economics</h2>
    <p>Instructors: A and B</p>
    <p><b><i>Input your favorite movie and discover other titles you might like!🎥</b></i></p>
    <form action="{{ url_for('recommendations') }}" method="POST">
        <label for="title">Movie Title:</label>
        <input type="text" id="title" name="title" required>
        <button type="submit">Submit</button>
		</form>
        <div class="results">
            {% if title %}
            <p><b>Similar movies to: "{{ title }}" ✨:</b></p>
          {% endif %}
          {% if results %}
            {{ results|safe }}
          {% endif %}
         </div>
        </div>   
	</main>
    
</body>
        
</html>

